@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox scrollbar styles */
* {
    scrollbar-width: thin;
    scrollbar-color: #a87f58 #1c1917;
}

/* For Firefox dark mode */
@media (prefers-color-scheme: dark) {
    * {
        scrollbar-color: #a87f58 #1c1917;
    }
}
